image: golang:1.15

.go-cache:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  before_script:
    - mkdir -p .go

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .go/pkg/mod/
  policy: pull-push


build-app:
  extends: .go-cache
  stage: build
  variables:
    GOOS: linux
    GOARCH: amd64
  script:
    - go install ./cmd/crlc
  artifacts:
    when: always
    paths:
      - .go/bin/crlc
